@import "../../scss/utils/index.scss";

.information {
	@include adaptiveValue("padding-top", 200, 120);
	@include adaptiveValue("padding-bottom", 100, 60);
}
.container {
	max-width: rem(1000);
	font-family: var(--font-secondary);
	font-weight: 500;
	line-height: 1.4;
	text-align: center;
}
.informationText {
	@include adaptiveValue("font-size", 20, 16);
	background-color: var(--light-gray);
	background-image: linear-gradient(90deg, var(--accent), var(--primary));
	background-size: 300%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradientText 6s ease infinite;

	&:not(:last-child) {
		margin-bottom: rem(10);
	}
}
.informationBenefit {
	@include adaptiveValue("font-size", 22, 18);
	background-color: var(--accent);
	background-image: linear-gradient(90deg, var(--primary), var(--accent) 70%);
	background-size: 250%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradientText 6s ease infinite;
}
@keyframes gradientText {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
