.title {
	font-weight: 700;
	text-transform: uppercase;
	@include adaptiveValue("font-size", 40, 20);
	letter-spacing: 0.06em;
	line-height: 1.3;

	span {
		margin-left: rem(5);
		color: var(--accent);
	}
}
