* {
	padding: 0px;
	margin: 0px;
	border: 0px;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
html,
body {
	height: 100%;
	min-width: 320px;
}
body {
	background-color: var(--body-bg);
	color: var(--primary);
	font-family: var(--font-family);
	font-size: var(--font-size);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
address {
	font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
