%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-youtube:before {
	content: "\e910";
}
._icon-facebook:before {
	content: "\e911";
}
._icon-instagram:before {
	content: "\e912";
}
._icon-arrow:before {
	content: "\e900";
}
._icon-building:before {
	content: "\e901";
}
._icon-car:before {
	content: "\e902";
}
._icon-arrow2:before {
	content: "\e903";
}
._icon-city:before {
	content: "\e904";
}
._icon-mail:before {
	content: "\e905";
}
._icon-location:before {
	content: "\e906";
}
._icon-phone-volume:before {
	content: "\e907";
}
._icon-phone:before {
	content: "\e908";
}
._icon-list:before {
	content: "\e909";
}
._icon-user-secret:before {
	content: "\e90a";
}
._icon-user-shield:before {
	content: "\e90b";
}
._icon-user-tie:before {
	content: "\e90c";
}
._icon-user:before {
	content: "\e90d";
}
._icon-users-gear:before {
	content: "\e90e";
}
._icon-users:before {
	content: "\e90f";
}
._icon-done:before {
	content: "\ea10";
}
